@media screen and (max-width: 600px) {

    #logo {
        width: 150px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-right {
        display: none;
        width: 100%;
    }

    .navbar-right.active {
        display:flex;
    }

    .navbar-right li {
        flex-direction:column;
        text-align: center;
        padding: .5rem 1rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right ul {
        flex-direction: column;
        width: 100%;
    }

    /*IMAGE CONTAINER*/
    .img-container {
        overflow: hidden;
        position:relative;
    }

    #gym {

        height: 50vh;
        width: auto;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .img-container h1 {
        top: 15%;
        font-size: 30px;
    }

    .img-container h2 {
        font-size: 24px;
        top: 60%;
    }
    
    /*INTRO */

    .intro h3 {
        font-size: 24px;
    }

    .intro p {
        font-size: 18px;
    }

    /* REVIEWS */

    .reviews {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        font-size: 14px;
    }
    .reviews span {
        font-size: 14px;
    }
    .review-child p {
        font-size: 16px;
    }
    .review-child h3 {
        font-size: 16px;
    }

    #google-reviews p {
        font-size: 18px;
    }


    /*GYM TOUR */

    .gym-tour-container {
        overflow: hidden;
        position:relative;
    }

    .gym-tour-container p {
        font-size: 24px;
        text-align: center;
        left: 33%;
    }

    #treadmills {
        height: 60vh;
        width: auto;
    }

    #video {
        width: 90%;
        height: 50%;
        justify-content: center;
        top: 33%;
        left: 5vw;
        margin: auto;
        
    }


    /*WHAT WE OFFER */

    .offer-container {
        flex-wrap: wrap;
        font-size: 16px;
    }

    .offer-container div p {
        font-size: 16px;
    }
    .offer-container div button {
        font-size: 16px;
    }

    /* MEMBERSHIPS */
    
   .memberships-section h3 {
       padding-top: 0.5em;
       font-size: 5vw;
       left: 33%;
   }

    .memberships-container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 6em;
    }

    .memberships-container div {
        width: 50%;
        justify-content: center;
        margin: auto;
    }

    .memberships-container div h4 {
        font-size: 12px;
    }

    .memberships-container div h5 {
        font-size: 14px;
    }

    .memberships-container div li {
        font-size: 12px;
        padding: 1em;
    }

    #bikes {
        display: none;
        height: 60vh;
        width: auto;
    }

    /* WHERE TO FIND US */

    .where-container {
        display: flex;
        flex-direction: rows;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
        margin: auto;
        gap: 1em;
        padding-top: 2em;
    }

    .location h4 {
        font-size: 16px;
    }

    .location ul {
        font-size: 14px;
    }

    #map {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        height: auto;
    }

 
    /* FOOTER */
    .row-one{
        display: block;
    }

    .row-one div {
        padding-bottom: 1em;
    }

    .footer-container {
        display: grid;
        justify-content: center;
        margin: auto;
        font-size: 12px;
        padding-bottom: 1em;
    }

    footer a, p {
        font-size: 8px;
    }

    .footer-container p, li {
        font-size: 12px;
    }
    
    .policy {
        padding: 0;
        justify-content: center;
        margin-top: 3em;
        text-align: center;
        
    }




}