
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins, sans-serif;
    background-color: rgb(245, 245, 245)
}

/* NAV BAR */
.navbar {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: 1fr, 2fr;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    background-color: white;
    
    
}


.navbar li {
    display: inline-block;
    text-align: center;
    padding:1em;
    text-transform: uppercase;
    font-size: 1.25vw;
    font-family: Poppins;
    font-weight: 600;
    margin: 0px;
    border: 0px;
    
}

.navbar-left {
    flex: 1;
    
}

.navbar-right {
    flex: 2;
    text-align: right;
    
}

#logo {
    height: auto;
    width: 50%;
    
}

.navbar li:hover {
    background-color: #C1E030;
    color:white;
}

#members {
    background-color: #3594EA;
    color: white;
}

/* PICTURE HEADER */

 .img-container {
     position:relative;
     text-align: center;
     padding: 0;
     margin: 0;
     color: white;
 }

 #gym {
     opacity: 0.5;
     width: 100%;
     height: auto;
     filter:brightness(0.75);
}

.img-container h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 4vw;
    text-shadow: 0 0 10px rgb(109, 109, 109);
}

.img-container h2 {
    position: absolute;
    font-family: shadows into light;
    top: 45%;
    width: 100%;
    font-size: 3vw;
    text-shadow: 0 0 10px rgb(59, 59, 59);
    color: #C1E030;
}


/* Intro Section */

.intro {
    justify-content: center;
    text-align: center;
    margin: 5% 8% 8% 5%;
    }

.intro  h3 {
    font-size: 3vw;
    color: #3594EA;
    text-decoration: underline #C1E030;
}

.intro  p {
    font-size: 1.5vw;
    color:rgb(126, 125, 125)
}

/* Reviews */

span {
    font-family: material icons; 
}

.reviews span {
    font-family: material icons; 
    color: rgb(255, 174, 0);
    font-size: 2vw;
}

.reviews {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    margin: auto;
    width: 90%;
    text-align: center;
}

.review-child {
    box-shadow: 0 0 10px rgb(179, 179, 179);
    border-radius: 10px;
    padding: 1em;
    background-color: white;
}

.review-child p {
    color: rgb(126, 125, 125);
    font-style: italic;
    font-size: 1vw;
}

.review-child h3 {
    font-size: 1.5vw;
    font-weight: 600;
}

#google-reviews {
    font-size: 1.5vw;
    text-align:center;
    padding: 2em;
}

#google {

    width: 5vw;
    vertical-align: middle;
    height: auto;   
}

/*GYM TOUR*/

.gym-tour-container {
    position: relative;
    display:flex;
    width:100%;
    height: auto;
    margin: 0; 
}

#treadmills {
    width: 100%;
    
    opacity:40%;   
}


#video {
    position:absolute;
    top: 25%;
    left: 27.5%;
    margin: auto;
    width:45vw;
    height:25vw;
    border: 0;
    box-shadow:0 0 10px rgb(109, 109, 109);  
}

.gym-tour-container p {
    position:absolute;
    top: 10%;
    left: 39%;
    font-size: 4vw;
    font-weight:800;
    color: white;
    text-shadow: 0 0 10px rgb(7, 7, 7);
    margin: 0;
}


/* DIFFERENT SERVICES SECTION */

.offer-container {
    display: flex;
    width: 100%;
    margin: 0;
    font-size: 1.5vw;
    text-align: center;

}

.offer-container span {
    font-size: 3em;
}

#pt {
    background-color: #3594EA;
    padding: 1.5em;
    color: white;
}

#classes {
    background-color: #C1E030;
    padding: 1.5em;
    color: white;
    
}

#equipment {
    background-color: white;
    padding: 1.5em;
    
}

.more {
    font-family: poppins;
    font-weight: 800;
    text-transform:uppercase;
    padding: 0.8em;
    border: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(109, 109, 109);
    font-size: 1.5vw;
}

#pt button {
    color: #3594EA;
}

#classes button {
    color: #C1E030;
}

/* MEMBERSHIPS */

.memberships-section {
    position:relative;
    text-align: center;
    
}

.memberships-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2em;
}

#bikes {
    width: 100%;
    height: auto;
    opacity: 40%;
}

.memberships-section h3 {
    position:absolute;
    top: 0;
    left: 38%;
    font-size: 3.5vw;
    color: white;
    text-shadow: 0 0 10px black;
}

.memberships-container {
    
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top:25%;
    
}

.memberships-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5vw;
    box-shadow: 0 0 10px rgb(83, 83, 83)
}

.memberships-container h4 {
    text-transform: uppercase;
    background-color:#C1E030;
    margin: 0;
    padding: 1em;  
    color: white;
}

.memberships-container h5 {
    font-size: 2.5vw;
    padding: 0;
    margin: 0.5em;
    font-weight:800;
    
}

#membership-2 h4{
    background-color: #3594EA;
}

/* WHERE TO FIND US */

.where-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 2em;
}



.location ul {
   
    font-size: 1vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.location h4 {
    font-size: 1.5vw;
    color: #3594EA;
}



#map {
    justify-content: center;
    width:100%;
    height:auto;
    max-width: 800px;
     
}

/* FOOTER */

footer {
    background-color: #3594EA;
    color: white;
    padding: 1em 1em 0 1em;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    text-align: start;
    
}

.footer-container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    text-align: start;
    font-size: 1vw;
}

.footer-container p {
    font-weight: 800;
    font-size: 1.2vw;
}

i {
    
    padding: 1em;
    color: white;
}

.policy {
    display: flex;
    justify-content:left;
    font-size: 0.75vw;
    padding-left: 14em;
    margin: 0;
    padding-bottom:
}

.policy p {
    padding-right: 2em;
}

.policy a {
    text-decoration: none;
    color: white;
}
